@import "tailwindcss";

:root {
  --primary: #111111;
  --secondary: #191919;
  --background: #090909;
  --accent: #2c1a75;
  --accent-secondary: #1d0736;
  --accent-tertiary: #363536;
  --text: #eeeeee;
  --border: #2b343b;
  --button: #581a99;
}

body {
  background-color: var(--background);
  color: var(--text);
  border-color: var(--border) !important;
}

/* React Datepicker styles */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border);
  background-color: var(--primary);
}

/* Kanban column styles */
.kanban-column {
  background-color: var(--primary);
  border: 1px solid var(--border);
  border-radius: 1rem;
  padding: 1rem;
  min-height: 200px;
}

Link,
button {
  cursor: pointer;
}
